@model JoinGo.Models.ViewModels.ForgotPasswordVM


<h2 class="h4 fw-bold text-center mb-3">忘記密碼</h2>

@using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { id = "ForgotPasswordForm" }))
{
    @Html.AntiForgeryToken()
    <div class="modal-body">
        <div class="mb-4">
            <div class="input-group">
                <span class="input-group-text bg-light text-muted">
                    <i class="fa fa-envelope"></i>
                </span>
                <input type="email" class="form-control" id="email" name="email" placeholder="請輸入Email" maxlength="50" required>
            </div>
            <div class="invalid-feedback"></div>
        </div>
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-primary fw-bold">寄送重設密碼連結</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
    </div>
}




<script>
    // 提交忘記密碼表單
    $(document).off('submit', '#ForgotPasswordForm').on('submit', '#ForgotPasswordForm', function (e) {
        e.preventDefault();

        var formData = $(this).serialize();
        var $form = $(this);
        var $submitBtn = $form.find('button[type="submit"]');
        // 禁用按鈕，並可加載中效果
        $submitBtn.prop('disabled', true).text('請稍候...');

        $.ajax({
            url: '@Url.Action("ForgotPassword", "Home")',
            type: 'POST',
            data: formData,
            success: function (response) {
                if (response.success) {
                       Swal.fire({
                           title: response.message,
                            icon: "success",
                            confirmButtonText: "確定"
                        });
                    $('#ForgotPasswordModal').modal('hide');
                } else {
                    Swal.fire({
                        title: response.message,
                        icon: "error",
                        confirmButtonText: "確定"
                    });
                }
            }, error: function () {
                Swal.fire({
                    title: "發生錯誤，請稍後再試。",
                    icon: "error",
                    confirmButtonText: "確定"
                });
            }, complete: function () {
                // AJAX 結束後恢復按鈕
                $submitBtn.prop('disabled', false).text('寄送重設密碼連結');
            }
        });
    });
</script>
